@import "settings";
@import "foundation";
@import "select2-3.4.5";
@import "ui.select.foundation";

.title-bar.dark {
	padding: 1em 2em;
}

label > .grid-block input,
label > .grid-block textarea,
label > .grid-block .select2-container {
	margin-top : 0.5em
}

.grid-container-padding {
	padding: 2em;
}

#{$text-input-selectors},
.select2-container {
    border-radius : 2px;

    & + .help-text {
        margin-top : -1em;
    }
}
.button {
    border-radius : 2px;
}

.help-text {
    color      : $gray-dark;
    //font-size  : 90%;
    font-style : italic;
}

.menu-group {
	.title {
		color : $gray;
		font-weight : bold;
	}
}

.gravatar {
	margin-top: -8px !important;
	margin-bottom: -8px !important;
	border: 1px solid $gray-dark;
	border-radius : 50em;
}