---
name: card-feature
url: /card-feature
controller: CardFeatureCtrl
---

<div class="grid-block">
    <form name="cardForm">
        <fieldset>
            <label>
                Name
                <input type="text" placeholder="Mass duplication" ng-model="card.name">
            </label>

            <p>
                As a <input type="text" placeholder="manager" ng-model="card.who" class="input-inline-paragraph">, I
                would like to be able <input type="text" placeholder="To batch duplicate one event."
                                             ng-model="card.what" class="input-inline-paragraph">, so that <textarea
                    placeholder="I can create several events with just small changes really quickly."
                    ng-model="card.why"></textarea>
            </p>

            <label>
                Dev information
            <textarea placeholder="I can change the name, date and preselected university"
                      ng-model="card.information"></textarea>
            </label>

            <label>
                Labels
                <ui-select multiple ng-model="card.idLabels" theme="select2">
                    <ui-select-match placeholder="Select label...">{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="label.id as label in form.labels | filter: $select.search">
                        <div ng-bind-html="label.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </label>
            <label>
                Members
                <ui-select multiple ng-model="card.idMembers" theme="select2">
                    <ui-select-match placeholder="Select member...">{{$item.fullName}}</ui-select-match>
                    <ui-select-choices repeat="member.id as member in form.members | filter: $select.search">
                        <div ng-bind-html="member.fullName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </label>
            <input type="submit" class="button success" value="submit"
                   ng-click="submitCard(card)"/>
    </form>
</div>
<div class="grid-block">

</div>
