---
name: card-bug
url: /card-bug
controller: CardCtrl
---
<div class="grid-block">
	<form name="cardForm">
		<label>
			Name
			<input type="text" placeholder="Add button does not redirect to the create form" ng-model="card.name">
		</label>

		<label>
			Page
			<input type="url" placeholder="http://www.example.com" ng-model="card.page">
		</label>

		<label>
			Context
			<textarea placeholder="Logged in as Akkroo member." ng-model="card.context"></textarea>

			<p>Give the context of your environment.</p>

		</label>

		<label>
			Actions
			<textarea placeholder="Went to the 'display' page. Clicked on the 'Add' button."
					  ng-model="card.actions"></textarea>

			<p>Describe how to reproduce the bug.</p>
		</label>

		<label>
			Result
			<textarea placeholder="Nothing happens." ng-model="card.result"></textarea>
		</label>
		<label>
			Expected
			<textarea placeholder="I should have been redirected." ng-model="card.expected"></textarea>
		</label>

		<label>
			Labels
			<select ng-model="card.idLabels"
					ng-options="label.id as label.name for label in form.labels" multiple></select>
		</label>
		<input type="submit" class="button success" value="submit" ng-disabled="cardForm.$invalid || loading"
			   ng-click="submitCard()"/>
	</form>
</div>
<div class="grid-block"></div>
