---
name: feature
url: /feature
controller: FeatureCtrl
---
<div class="grid-block">
    <div class="grid-container grid-container-padding small-12">
        <form name="cardForm">
            <label>
                Title *
                <div class="grid-block">
                    <div class="small-9 grid-content">
                        <input type="text" placeholder="Add button does not redirect to the create form"
                       ng-model="card.name" required>
                    </div>
                    <div class="small-3 grid-content">
                        <p class="help-text">Give an explicit title of the bug.</p>
                    </div>
                </div>

            </label>

            <label>
                As a *
                <div class="grid-block">
                    <div class="small-9 grid-content">
                        <input type="text" placeholder="manager" ng-model="card.who" required>
                    </div>
                    <div class="small-3 grid-content">
                        <p class="help-text">Explicit the user of this new feature.</p>
                    </div>
                </div>
            </label>
            <label>
                I would like to be able *
                <div class="grid-block">
                    <div class="small-9 grid-content">
                        <textarea placeholder="To batch duplicate one event." ng-model="card.what" required></textarea>
                    </div>
                    <div class="small-3 grid-content">
                        <p class="help-text">Describe the purpose of this new feature.</p>
                    </div>
                </div>

            </label>

            <label>
                so that *
                <div class="grid-block">
                    <div class="small-9 grid-content">
                        <textarea placeholder="I can create several events with just small changes really quickly."
                     			  ng-model="card.why" required></textarea>
                    </div>
                    <div class="small-3 grid-content">
                        <p class="help-text">Describe the reason why the user want this feature. It will give the context of the need.</p>
                    </div>
                </div>
            </label>

            <label>
                More information
                 <div class="grid-block">
                    <div class="small-9 grid-content">
                        <textarea placeholder="I can change the name, date and preselected university"
                        		  ng-model="card.information" rows="10"></textarea>
                      	<p class="help-text">You can use Markdown. (<a href="http://help.trello.com/article/821-using-markdown-in-trello">see the syntax for Trello</a>)</p>
                    </div>
                    <div class="small-3 grid-content">
                        <p class="help-text">Describe what you have on your screen, in your console, ....</p>
                    </div>
                </div>
            </label>

            <label>
                Labels
                <div class="grid-block">
                    <div class="small-9 grid-content">
                        <ui-select multiple ng-model="card.idLabels" theme="select2">
                            <ui-select-match placeholder="Select label...">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="label.id as label in form.labels | filter: $select.search">
                                <div ng-bind-html="label.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="small-3 grid-content">
                        <p class="help-text">Adding labels help the member of the team to find the feature in Trello.</p>
                    </div>
                </div>

            </label>

            <label>
                Members
                <div class="grid-block">
                    <div class="small-9 grid-content">
                        <ui-select multiple ng-model="card.idMembers" theme="select2">
                            <ui-select-match placeholder="Select member...">{{$item.fullName}}</ui-select-match>
                            <ui-select-choices repeat="member.id as member in form.members | filter: $select.search">
                                <div ng-bind-html="member.fullName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="small-3 grid-content">
                        <p class="help-text">Add members to work on this feature.</p>
                    </div>
                </div>
            </label>
            <input type="hidden" ng-model="card.idList" required>

            <button class="button success"
                    ng-class="{disabled : !cardForm.$valid || submitLoading}"
                    ladda="submitLoading"
                    ng-disabled="!cardForm.$valid || submitLoading"
                    ng-click="submitCard(card)"
                    data-style="expand-left">
                Submit
            </button>
        </form>
    </div>
</div>
